################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Test/bin/Debug/net6.0
/Model/bin/Debug/net6.0
/CustomerAPI/bin/Debug/net6.0
/CustomerAPI/obj/Debug/net6.0/CustomerAPI.AssemblyInfo.cs
/CustomerAPI/obj/Debug/net6.0/CustomerAPI.AssemblyInfoInputs.cache
/CustomerAPI/obj/Debug/net6.0/CustomerAPI.csproj.FileListAbsolute.txt
/Model/obj/Debug/net6.0/Model.AssemblyInfo.cs
/Model/obj/Debug/net6.0/Model.AssemblyInfoInputs.cache
/Model/obj/Debug/net6.0/Model.assets.cache
/CustomerAPI/obj/Debug/net6.0/CustomerAPI.AssemblyInfo.cs
/CustomerAPI/obj/Debug/net6.0/CustomerAPI.AssemblyInfoInputs.cache
/.vs
/Model/obj/Debug/net6.0
/Model/obj/Model.csproj.nuget.dgspec.json
/Model/obj/project.assets.json
/Model/obj/project.nuget.cache
/Test/bin/Release/net6.0/CoverletSourceRootsMapping_Test
/Test/obj/Debug/net6.0/Test.AssemblyInfo.cs
/Test/obj/Debug/net6.0/Test.AssemblyInfoInputs.cache
/Test/obj/Debug/net6.0/Test.assets.cache
/Test/obj/Debug/net6.0/Test.csproj.FileListAbsolute.txt
/Test/obj/Test.csproj.nuget.dgspec.json
/Test/obj/project.assets.json
/Test/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Test/obj/Release/net6.0/Test.AssemblyInfo.cs
/Test/obj/Release/net6.0/Test.AssemblyInfoInputs.cache
/Test/obj/Release/net6.0/Test.assets.cache
/Test/obj/Release/net6.0/Test.csproj.AssemblyReference.cache
/Test/obj/Release/net6.0/Test.GeneratedMSBuildEditorConfig.editorconfig
/Test/obj/Release/net6.0/Test.GlobalUsings.g.cs
/Test/obj/project.nuget.cache
